<!DOCTYPE html>
<html>
<head>
    <title>Iris</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <div class="title-container">
        <img class="iris-image" src="./logo.png" alt="iris-image">
        <h1 class="app-title">Iris</h1>
    </div>

    <div class="sub-container">
        <div class="image-block">
            <canvas id="myCanvas" width="400" height="400" style="border:1px solid #d3d3d3;">
                Your browser does not support the HTML canvas tag.
            </canvas>
            


            <form action="/predict" method="POST" enctype="multipart/form-data" id="predictForm">
                <label for="imageInput" class="custom-file-upload">Select Image</label>
                <input type="file" id="imageInput" name="image" accept="image/*" required>
                <button type="submit" class="diagnose-button">Diagnose Image</button>
            </form>

            <!-- Display filename (from client or server) -->
            <p id="fileNameDisplay" style="font-weight: bold; margin-top: 10px;">
                <% if (typeof originalName !== 'undefined') { %>
                    File Name: <%= originalName %>
                <% } %>
            </p>
 
    </div>

    <div class="prediction-block">
                <h2 class="results">Results</h2>

                <% 
                ICDRLevel0 = ['No diabetic retinopathy: No visible abnormalities in the retina.']
                ICDRLevel1 = ['Mild NPDR: Few microaneurysms visible in the retina.']
                ICDRLevel2 = ['Moderate NPDR: Increased microaneurysms, hemorrhages, and exudates; possible venous beading..']
                ICDRLevel3 = ['Severe NPDR: Extensive hemorrhages, microaneurysms, and venous beading in multiple quadrants.']
                ICDRLevel4 = ['PDR: Neovascularization and/or vitreous hemorrhage; severe retinal damage.']
                dmeNegative = ['No hard exudates or swelling in the macula region.']
                dmePositive = ['Hard exudates and/or macular edema present near the macula.']
                
                %>
                
                
                
                <% if (prediction) { %>
        <% if (prediction.error) { %>
            <p>Error: <%= prediction.error %></p>
        <% } else { %>

            <p><strong>Diabetic Retinopathy:</strong> <%= prediction.retinopathy %></p>
                <ul>
                    <% if (prediction.retinopathy == "ICDR level 0") { %>
                        <li class="diagnosis-detail"> Diagnosis: <% ICDRLevel0[0] %></li>
                    <% } else if (prediction.retinopathy == "ICDR level 1") { %>
                        <li class="diagnosis-detail">Diagnosis: <% ICDRLevel1[0] %></li>
                    <% } else if (prediction.retinopathy == "ICDR level 2") { %>
                        <li class="diagnosis-detail">Diagnosis: <% ICDRLevel2[0] %></li>
                    <% } else if (prediction.retinopathy == "ICDR level 3") { %>
                        <li class="diagnosis-detail">Diagnosis: <% ICDRLevel3[0] %></li>
                    <% } else if (prediction.retinopathy == "ICDR level 4") { %>
                        <li class="diagnosis-detail">Diagnosis: <% ICDRLevel4[0] %></li>
                    <% } %>
                </ul>    
                        <!-- <p><strong>Probabilities:</strong> <%= prediction.retinopathy_probs.map(p => p.toFixed(4)).join(", ") %></p> -->
            <!-- <p><strong>Probabilities:</strong> <%= prediction.edema_probs.map(p => p.toFixed(4)).join(", ") %></p> -->
             <% } %>
             <% } %>
                <!-- <ul>
                    <li>
                        Diagnosis: 
                    </li>
                </ul>  -->

                <% if (prediction) { %>
        <% if (prediction.error) { %>
            <p>Error: <%= prediction.error %></p>
        <% } else { %>
                        <!-- <p><strong>Probabilities:</strong> <%= prediction.retinopathy_probs.map(p => p.toFixed(4)).join(", ") %></p> -->
            <p><strong>Diabetic Macular Edema:</strong> <%= prediction.edema %></p>
            <ul>
                    <% if (prediction.edema == "DME Negative") { %>
                        <li class="diagnosis-detail">Diagnosis: <% dmeNegative[0 * dmeNegative.length] %></li>
                    <% } else if (prediction.edema == "DME Positive") { %>
                        <li class="diagnosis-detail">Diagnosis: <% dmePositive[0] %></li>
                    <% } %>
                    
                </ul> 
            <!-- <p><strong>Probabilities:</strong> <%= prediction.edema_probs.map(p => p.toFixed(4)).join(", ") %></p> -->
             <% } %>
             <% } %>
                <!-- <ul>
                    <li>
                        Diagnosis: 
                    </li>
                </ul> -->

                <div class="loader" id="loader" style="display: none;"></div>


                
                

    </div>

     <div class="disclaimer-text">
                    
                    <p class="disclaimer-text">
                    >>This app provides preliminary insights into possible eye conditions, but results may vary in accuracy. <br> <br> >> Please consult a qualified ophthalmologist for an accurate diagnosis and timely medical intervention.
                    </p>

                </div>

    </div>

            </div>

            <footer>
                <div>
                    Iris &copy;
                    <span id="copyright">
                        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                    </span>
                </div>
            </footer>

           

    
    
    <script>

        const imageInput = document.getElementById('imageInput');
        const canvas = document.getElementById('myCanvas');
        const ctx = canvas.getContext('2d');
        const fileNameDisplay = document.getElementById("fileNameDisplay");
        ctx.font = "italic 20px 'Open Sans'";
        ctx.fillStyle = "#0077cc";
        ctx.fillText("Upload a Retinal Fundus Image",50, 200);
        ctx.textAlign = "center";
        ctx.textBaseline = "middle";

        imageInput.addEventListener('change', function(event) {
            const file = event.target.files[0];
            if (!file) {
                fileNameDisplay.textContent = '';
                return;
            }

            fileNameDisplay.textContent = `File Name: ${file.name}`;

            const reader = new FileReader();
            reader.onload = function(e) {
                const img = new Image();
                img.onload = function() {
                    ctx.clearRect(0, 0, canvas.width, canvas.height);
                    ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
                };
                img.src = e.target.result;
            };
            reader.readAsDataURL(file);
        });


        <% if (typeof base64Image !== 'undefined' && base64Image) { %>
        const img = new Image();
        img.onload = function() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
        };
        img.src = "<%= base64Image %>";
    <% } %>


        const form = document.getElementById('predictForm');
        const loader = document.getElementById('loader');
        form.addEventListener('submit', function () {
            loader.style.display = 'block';
            });

    </script>

    
</body>
</html>
